# files we marked to ignore
.ignore.*

# basic files and folders
**/.zig-cache/**
**/zig-out/**
**/_build/**
**/build/**

# files created during compilation
*.opam
*.out
*.o
*.bc
*.bt
*.s

# files created by tools
*.yy.c
*.tab.c
*.tab.h
ng
