# files we marked to ignore
.ignore.*

# basic files and folders
**/.cache/**
**/build/**

# files created during compilation
*.opam
*.out
*.o
*.bc
*.bt
*.s

# Files created by text editors
*.vim
*.swp

# scripts
makefile
