# files we marked to ignore
.ignore.*

# basic files and folders
**/.zig-cache/**
**/zig-out/**
**/.cache/**
**/_build/**
**/build/**

# files created during compilation
*.opam
*.out
*.o
*.bc
*.bt
*.s
